:root {
  --headerFont: "Bungee Inline", sans-serif;
  --textFont: "IBM Plex Mono", monospace;
}

body {
    margin: 0;
    font-family: var(--textFont);
    background-color: lightgray;
}


#gameArea {
    width: 90vw;
    height: 90vw;
    background-color: #909090;

}

.arrowButton {
    height: 7vh;
}

.arrowDown {
    transform: rotateX(180deg);
}

.arrowLeft {
    transform: rotate(-90deg);
}

.arrowRight {
    transform: rotate(90deg);
}

.headerCV {
    font-size: 2rem;
    color: #909090;

}

.headerFont {
    font-family: var(--headerFont);
}

.headerMain {
    font-size: 3rem;
    color: #333;
    text-align: center;
}

.containerAchievements {
    width: 90vw;
}

.containerControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pAchievements {
    font-weight: 300;
}
